{% load static %}

{% load crispy_forms_tags %}

<html>

    <head>

            <meta charset="utf-8" /> 

            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

            <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">

            <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    </head>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">
        <h3> Password Reset Complete </h3>

        <p> Your password has been set. You may go ahead and log in now. </p>

        <a class="btn btn-primary w-100" type="button"  href="my-login">Login</a>
    </div>

</html>