{% extends 'journal/navbar.html' %}

{% load crispy_forms_tags %}

{% block content%}
    <br> <br> <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h1> Update username and email </h1>

        <form method="POST">

            {% csrf_token %}

            {{ UserUpdateForm|crispy }}

            <br> 

            <button class="btn btn-outline-primary btn-lg w-75 mx-auto d-block p-2" type="submit"> Update </button>
        </form>

    </div>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h1> Update profile picture </h1>

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            {{ ProfileUpdateForm|crispy }}

            <br> 

            <button class="btn btn-outline-primary btn-lg w-75 mx-auto d-block p-2" type="submit"> Upload profile picture </button>
        </form>

    </div>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h1> Delete your account </h1>
        
        <br>

        <a href="{% url 'delete-account' %}" class="btn btn-outline-danger btn-lg w-75 mx-auto d-block p-2"> Proceed to delete your account </a>


    </div>

    <br>

{% endblock content %}